@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Text';
  src: url('/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/SF-Pro-Text-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/SF-Pro-Text-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --panel-bg: #18181b;
  --panel-muted: #27272a;
  --panel-border: #3f3f46;

  --brand: #4f46e5;       
  --brand-hover: #6366f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-panel-bg: var(--panel-bg);
  --color-panel-muted: var(--panel-muted);
  --color-panel-border: var(--panel-border);
  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  
  --font-sans: "SF Pro Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior-y: none;
}